*{
    margin: 0;
    padding: 0;
}
p{
    margin-top: 70px;
    margin-left:330px;
}
h2{
    margin-top: 200px;
    margin-left: 330px;
}
button{
    margin-left: 330Px;
}
body{
    background-color: lawngreen;
    

}

