*{
    margin: 0;
    padding: 0;
}
h2{
    color:#fff ;
}
h3{
    color: rgb(58, 7, 245);
} 
h4{
    color: #fff;
}  

body{
    background-color: black;
}
button{
    color: blue;
}