*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("CO.jpg");
}
h2{
    margin-left: 456px;
    margin-top: 45px;
    color: mediumblue;
}
h4{
    color: black;
    margin-left: 440px;
}
p{


margin-left: 250px;
margin-top: 45px;
color: rgb(253, 253, 255);
font-style: normal;
}
button{
    margin-left: 245px;
}